h3 {
    text-align:center;
    font-family:Calibri;
    width:300px;
    background-color:aqua;
    padding-bottom:0px;
    margin-left:75px;
    margin-right:75px;

}

.leftside {
    width:450x;
    float:left;
    
}

.rightside {
    width:450px;
    float:right;
   
}